.blog {
	margin-top: 200px;
}

.blog__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	margin-bottom: 50px;
}

.blog__filter,
.blog__sort {
	font-size: 24px;
	background-color: transparent;
}

.blog__filter {
	border-radius: 10px;
	border: 2px solid #000000;
	padding: 2px 4px;
}

.blog__sort {
	border: none;
}

.blog__item {
	position: relative;
	padding: 20px;
	overflow: hidden;
}

.blog__item::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-text);
}

.blog__item:nth-child(3n) {
	padding-right: 0;
}

.blog__item:nth-child(3n + 4)::after,
.blog__item:first-child::after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background-color: var(--main-text);
}

.blog__item:nth-child(3n + 4),
.blog__item:first-child {
	padding-left: 0;
}

.blog__item:nth-child(3n + 4) > .blog__img,
.blog__item:first-child > .blog__img {
	height: 68%;
}

.blog__item:nth-child(3n + 3)::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: var(--main-text);
}

.blog__grid {
	display: grid;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 745px;
	position: relative;
}

.blog__grid::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-text);
}

.blog__img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	margin-bottom: 20px;
}

.blog__category {
	display: inline-block;
	font-size: 18px;
	border: 2px solid var(--main-text);
	padding: 0 8px;
	border-radius: 30px;
}

.blog__title {
	font-size: 32px;
	font-weight: 400;
	margin: 20px 0 40px 0;
}

.blog__link {
	color: var(--main-text);
	text-decoration: none;
	transition: color 0.3s ease;
}

.blog__link:hover,
.blog__link:focus {
	color: var(--link-text);
}
