.film-preview {
	position: relative;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.film-preview__name {
	position: absolute;
	bottom: 80px;
	left: 40px;
	font-size: 180px;
	margin: 0;
	font-weight: 400;
	color: #ffffff;
}
