.film-article {
	margin-top: 50px;
}

.film-article__grid {
	display: flex;
	position: relative;
}

.film-article__grid::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-text);
}

.film-article__grid::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-text);
}

.film-article__blq {
	position: relative;
	flex: 1 1 35%;
	font-size: 50px;
	margin: 0;
	padding: 80px 40px 0 0;
}

.film-article__blq::before {
	position: absolute;
	content: open-quote;
	top: 0;
	left: 0;
	font-weight: bold;
	font-size: 80px;
}

.film-article__blq::after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background-color: var(--main-text);
}

.film-article__info {
	flex: 0 1 100%;
}

.film-article__date {
	font-size: 180px;
	padding: 20px 40px;
	position: relative;
}

.film-article__date::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-text);
}

.film-article__desc {
	display: flex;
	margin-top: 50px;
	padding: 40px;
}

.film-article__img {
	max-height: 600px;
	width: auto;
}

.film-article__text {
	font-size: 22px;
	margin: 0 0 0 40px;
}
