.film-desc {
	margin-top: 50px;
}

.film-desc__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.film-desc__header {
	font-weight: 400;
	font-size: 30px;
	margin: 0 0 40px 0;
}

.film-desc__text {
	font-size: 20px;
	margin: 0 0 20px 0;
}
