.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	color: #ffffff;
	background-color: var(--header-bg-color);

	transform: translateY(0);
	transition: all 0.5s ease;
}

.hero {
	background-color: transparent;
}

.header--hidden {
	transform: translateY(-100%);
}

.header--active {
	background-color: var(--header-bg-color);
}

.header__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.header__logo {
	font-size: 50px;
	margin: 0;
	font-weight: 500;
}

.header__btns {
	display: flex;
	gap: 50px;
}

.header__btn {
	display: flex;
	align-items: center;
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	word-spacing: 10px;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.header__btn--accent {
	color: var(--main-text);
}

.header__icon {
	margin-right: 8px;
}
