.nav {
	position: fixed;
	top: 0;
	right: 100%;
	z-index: 12;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--search-bg-color);
	transition: right 0.5s ease;
}

.nav--active {
	right: 0;
}

.nav__close {
	position: absolute;
	content: '';
	right: 80px;
	top: 40px;
	font-size: 40px;
	color: #ffffff;
	cursor: pointer;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.nav__item {
	margin-bottom: 40px;
}

.nav__item:last-child {
	margin-bottom: 0;
}

.nav__link {
	display: inline-block;
	color: #ffffff;
	font-size: 80px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav__link:hover {
	color: var(--link-text);
}
