.notes__grid {
	display: grid;
	grid-template-columns: repeat(3, 33.333%);
	grid-template-rows: repeat(5, 250px);
}

.notes__item,
.notes__list,
.notes__big {
	position: relative;
	padding: 20px;
	overflow: hidden;
}

.notes__list::before,
.notes__item::before,
.notes__big::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-text);
}

.notes__list::after,
.notes__item:nth-child(2)::after,
.notes__item:nth-child(4)::after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background-color: var(--main-text);
}

.notes__list {
	grid-row: 1 / span 3;
	padding-left: 0;
}

.notes__item:nth-child(2),
.notes__item:nth-child(3) {
	grid-row: 1 / 3;
}

.notes__item:nth-child(3) {
	padding-right: 0;
}

.notes__item:nth-child(4) {
	grid-row: 4 / 6;
	padding-left: 0;
}

.notes__big {
	grid-row: 3 / 6;
	grid-column: 2 / 4;
	padding-right: 0;
}

.notes__img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	margin-bottom: 20px;
}

.notes__img--big {
	height: 68%;
}

.notes__category {
	display: inline-block;
	font-size: 18px;
	border: 2px solid var(--main-text);
	padding: 0 8px;
	border-radius: 30px;
}

.notes__title {
	font-size: 32px;
	font-weight: 400;
	margin: 20px 0 40px 0;
}

.notes__link {
	color: var(--main-text);
	text-decoration: none;
	transition: color 0.3s ease;
}

.notes__link:hover,
.notes__link:focus {
	color: var(--link-text);
}
