@media (max-width: 1650px) {
	/* FilmArticle */
	.film-article__grid {
		flex-wrap: wrap;
	}

	.film-article__blq,
	.film-article__info {
		flex: 1 0 100%;
	}

	.film-article__blq {
		margin-bottom: 20px;
	}

	.film-article__blq::after {
		display: none;
	}

	.film-article__date::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--main-text);
	}

	.film-article__date,
	.film-article__desc {
		padding-left: 0;
	}
}

@media (max-width: 1320px) {
	/* Blog */
	.blog__grid {
		grid-template-columns: repeat(3, 33.333%);
	}

	.blog__item:nth-child(3n + 4) > .blog__img,
	.blog__item:first-child > .blog__img {
		height: 50%;
	}

	.blog__title {
		font-size: 26px;
	}
}

@media (max-width: 1200px) {
	/* FilmArticle */
	.film-article__date {
		font-size: 120px;
	}

	.film-article__blq {
		font-size: 32px;
	}

	.film-article__img {
		max-height: 450px;
	}

	/* FilmPreview */
	.film-preview__name {
		font-size: 100px;
	}
}

@media (max-width: 1120px) {
	/* About */
	.about__main-text {
		font-size: 46px;
	}

	.about__secondary-text {
		font-size: 16px;
	}

	/* Featured */
	.featured__text {
		display: none;
	}

	/* Works */
	.works__link {
		font-size: 70px;
	}

	/* notes__item */
	.notes__title {
		font-size: 26px;
	}

	/* Blog */
	.blog__grid {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: 500px;
	}

	.blog__grid > article:nth-child(odd) {
		padding: 20px 20px 20px 0;
	}

	.blog__grid > article:nth-child(even) {
		padding: 20px 0 20px 20px;
	}

	.blog__item:nth-child(3n + 3)::after {
		display: none;
	}

	.blog__item:nth-child(3n + 4)::after,
	.blog__item:first-child::after {
		display: none;
	}

	.blog__grid::before {
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		width: 2px;
		height: 100%;
		background-color: var(--main-text);
	}
}

@media (max-width: 970px) {
	/* About */
	.about__secondary-text {
		grid-column: 2 / 4;
	}
	/* Works */
	.works__img--hidden {
		display: none;
	}

	/* FilmArticle */
	.film-article__desc {
		display: block;
		margin-top: 0;
	}

	.film-article__text {
		margin: 20px 0 0 0;
	}

	.film-article__desc,
	.film-article__date,
	.film-article__blq {
		padding-right: 0;
	}
}

@media (max-width: 840px) {
	/* Grid */
	.container {
		padding: 0 20px;
	}

	/* Search */
	.search__form {
		padding: 0 20px;
	}

	/* Featured */
	.featured__nav {
		font-size: 24px;
	}

	/* Works */
	.works__line {
		gap: 40px;
	}

	.works__link {
		font-size: 50px;
	}

	.works__img {
		height: 80px;
	}

	.works--dif {
		margin-top: 150px;
	}

	/* Subscribe */
	.subscribe__title {
		font-size: 80px;
	}
	/* notes__item */
	.notes__grid {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: 1fr repeat(2, 500px);
	}

	.notes__list {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	.notes__list::after {
		display: none;
	}

	.notes__item:nth-child(2) {
		padding-left: 0;
	}

	.notes__item:nth-child(2),
	.notes__item:nth-child(3) {
		grid-row: 2 / 3;
	}

	.notes__item:nth-child(4),
	.notes__big {
		grid-row: 3 / 4;
	}

	.notes__img--big {
		height: 50%;
	}

	/* FilmDesc */
	.film-desc__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	/* FilmArticle */
	.film-article__date {
		font-size: 80px;
	}

	.film-article__blq {
		font-size: 24px;
	}

	.film-article__img {
		max-height: 400px;
	}

	.film-article__text {
		font-size: 18px;
	}
}

@media (max-width: 680px) {
	/* Footer */
	.footer__grid {
		grid-template-columns: repeat(2, 50%);
		row-gap: 40px;
	}

	.footer__title {
		font-size: 24px;
		margin: 0 0 20px 0;
	}

	.footer__link,
	address {
		font-size: 16px;
	}

	/* Search */
	.search__input {
		font-size: 50px;
	}

	.search__btn {
		width: 100px;
		font-size: 22px;
	}

	.search__close,
	.nav__close {
		font-size: 26px;
	}
}

@media (max-width: 620px) {
	/* About */
	.about__main-text,
	.about__secondary-text {
		grid-column: 1 / 4;
	}

	.about__main-text {
		font-size: 36px;
	}

	/* Works */
	.works__link {
		font-size: 30px;
		margin-top: 20px;
	}

	.works__item {
		padding: 20px 0;
	}

	.works__img {
		height: 60px;
	}

	/* Subscribe */
	.subscribe__title {
		font-size: 50px;
		padding: 60px 0;
	}

	/* notes__item */
	.notes__grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr repeat(4, 400px);
	}

	.notes__list {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.notes__item:nth-child(2) {
		grid-row: 2 / 3;
	}

	.notes__item:nth-child(3) {
		grid-row: 3 / 4;
	}

	.notes__item:nth-child(4) {
		grid-row: 4 / 5;
	}

	.notes__item:nth-child(2),
	.notes__item:nth-child(4) {
		padding-right: 0;
	}

	.notes__item:nth-child(2)::after,
	.notes__item:nth-child(4)::after {
		display: none;
	}

	.notes__item:nth-child(3),
	.notes__big {
		padding-left: 0;
	}

	.notes__big {
		grid-row: 5 / 6;
		grid-column: 1 / 2;
	}

	/* Blog */
	.blog__grid {
		grid-template-columns: 1fr;
		grid-template-rows: 400px;
	}

	.blog__grid > article:nth-child(n) {
		padding: 20px 0;
	}

	.blog__grid::before {
		display: none;
	}
}

@media (max-width: 500px) {
	/* Header */
	.header {
		padding: 10px 0;
	}

	.header__logo {
		font-size: 34px;
	}

	.header__btns {
		gap: 20px;
	}

	.header__btn {
		font-size: 16px;
	}

	/* Section */
	.section__title {
		font-size: 40px;
		margin-top: 40px;
	}

	/* Nav */
	.nav__link {
		font-size: 50px;
	}

	/* Works */
	.works--dif {
		margin-top: 100px;
	}

	/* Blog */
	.blog {
		margin-top: 100px;
	}

	/* FilmPreview */
	.film-preview__name {
		font-size: 60px;
	}

	/* FilmDesc */
	.film-desc__grid {
		grid-template-columns: repeat(1, 1fr);
		gap: 40px;
	}

	/* FilmArticle */
	.film-article__date {
		font-size: 40px;
	}

	.film-article__blq {
		font-size: 24px;
	}

	.film-article__img {
		max-height: 400px;
	}

	.film-article__text {
		font-size: 18px;
	}
}

@media (max-width: 440px) {
	/* Featured */
	.featured__nav {
		font-size: 20px;
		padding-left: 20px;
	}

	/* Works */
	.works__item {
		padding: 10px 0;
	}

	/* notes__item */
	.notes__title {
		font-size: 20px;
	}

	/* FIlmArticle */
	.film-article__img {
		width: 100%;
	}
}

@media (max-width: 400px) {
	/* About */
	.about__main-text {
		font-size: 26px;
	}

	/* Subscribe */
	.subscribe__title {
		font-size: 44px;
		padding: 40px 0;
	}

	/* Footer */
	.footer__grid {
		grid-template-columns: repeat(1, 1fr);
	}

	/* Search */

	.search__form {
		gap: 100px;
	}

	.search__input {
		font-size: 30px;
	}

	.search__btn {
		width: 80px;
		font-size: 18px;
	}

	.search__close,
	.nav__close {
		right: 40px;
	}

	/* Blog */
	.blog__title {
		font-size: 20px;
	}

	.blog__filter,
	.blog__sort {
		font-size: 18px;
	}
}
