*,
::before,
::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--bg-color: hsl(0, 0%, 100%);
	--header-bg-color: hsl(0, 0%, 10%);
	--search-bg-color: hsl(0, 0%, 10%);
	--main-text: hsl(0, 0%, 0%);
	--secondary-text: hsl(0, 0%, 65%);
	--link-text: hsl(0, 0%, 44%);
}
